# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# VS Code
.vscode/

# Environment variables
.env

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Large ML files (optional)
*.pth
*.faiss
*.pkl
*.pt

# Logs
*.log